version: "3"
services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - ./backend:/myapp
      - ./backend/vendor/bundle:/myapp/vendor/bundle
    environment:
      TZ: Asia/Tokyo
      RAILS_ENV: production
    ports:
      - "3001:3000"
  front:
    build: 
      context: ./frontend
      dockerfile: Dockerfile.prod
    ports:
      - '80:3000'
    stdin_open: true
    volumes:
      - ./frontend:/myapp
    depends_on:
      - api
  chrome:
    image: selenium/standalone-chrome-debug:latest
    ports:
      - 4444:4444
      - 5900:5900
volumes:
  mysql-data:
